<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Position</th>
    <th>Goals</th>
    <th>Assists</th>
  </tr>

  <% players.order(goals_scored: :desc, assists: :desc).each do |player| %>
    <tr>
      <td><%= player.full_name %></td>
      <td><%= player.team_name %></td>
      <% case player.position
      when 1 %><td>Golkeeper</td>
      <% when 2 %><td>Defender</td>
      <% when 3 %><td>Midfielder</td>
      <% when 4 %><td>Forward</td>
      <% end %>
      <td><%= player.goals_scored %></td>
      <td><%= player.assists %></td>
    </tr>
  <% end %>
</table>
