<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Position</th>
    <th>Clean Sheets</th>
    <th>Tackles</th>
  </tr>

  <% players.order(clean_sheets: :desc, tackles: :desc).each do |player| %>
    <tr>
      <td><%= player.full_name %></td>
      <td><%= player.team_name %></td>
      <% case player.position
      when 1 %><td>Golkeeper</td>
      <% when 2 %><td>Defender</td>
      <% when 3 %><td>Midfielder</td>
      <% when 4 %><td>Forward</td>
      <% end %>
      <td><%= player.clean_sheets %></td>
      <td><%= player.tackles %></td>
    </tr>
  <% end %>
</table>
