<h2>Players</h2>
<div class="diff_stats_links">
  <%= link_to "OVERVIEW", teams_stats_teams_path, id: "p_over",  class: "btn sts_btn p_sts_btn sts_active", remote: true %>
  <%= link_to "OFFENSIVE", teams_stats_teams_path, id: "p_offe",  class: "btn sts_btn p_sts_btn", remote: true %>
  <%= link_to "DEFFENSIVE", teams_stats_teams_path, id: "p_deff",  class: "btn sts_btn p_sts_btn", remote: true %>
  <%= link_to "BOOKING", teams_stats_teams_path, id: "p_book",  class: "btn sts_btn p_sts_btn", remote: true %>
</div>
