<table class="table sts_table pl_table">
  <tr>
    <th class="alg_left">Player</th>
    <th class="alg_left">Team</th>
    <th class="alg_left"><abbr title="Position">P</abbr></th>
    <th><abbr title="Points">PTS</abbr></th>
    <th><abbr title="Minutes Played">MP</abbr></th>
  </tr>

  <% players.order(total_points: :desc, minutes: :desc).each do |player| %>
    <tr>
      <td class="alg_left"><%= link_to player.full_name, player_path(player) %></td>
      <td class="alg_left"><%= link_to player.team.team_name, team_path(player.team_id) %></td>
      <% case player.position
        when 1 %><td class="alg_left">GK</td>
        <% when 2 %><td class="alg_left">DEF</td>
        <% when 3 %><td class="alg_left">MID</td>
        <% when 4 %><td class="alg_left">FWD</td>
      <% end %>
      <td><%= player.total_points %></td>
      <td><%= player.minutes %></td>
    </tr>
  <% end %>
</table>
