<h2>Players</h2>
<div class="diff_stats_links">
  <div id="p_over" class="btn sts_btn p_sts_btn sts_active">OVERVIEW</div>
  <div id="p_offe" class="btn sts_btn p_sts_btn">OFFENSIVE</div>
  <div id="p_deff" class="btn sts_btn p_sts_btn">DEFFENSIVE</div>
  <div id="p_book" class="btn sts_btn p_sts_btn">BOOKING</div>
</div>
