<div class="diff_stats_links">
  <div id="t_over" class="btn sts_btn t_sts_btn sts_active">OVERVIEW</div>
  <div id="t_offe"  class="btn sts_btn t_sts_btn">OFFENSIVE</div>
  <div id="t_deff"  class="btn sts_btn t_sts_btn">DEFFENSIVE</div>
  <div id="t_book"  class="btn sts_btn t_sts_btn">BOOKING</div>
</div>
