<h1>Fantas Premier League Stats Site</h1>

<ul>
  <li><%= link_to 'Teams', controller: 'teams' %></li>
  <li><%= link_to 'Players', controller: 'players' %></li>
  <li><%= link_to 'Matches', controller: 'matches' %></li>
</ul>
