<div class="diff_stats_links">
  <div id="pl_over" class="btn sts_btn p_sts_btn sts_active">OVERVIEW</div>
  <div id="pl_offe" class="btn sts_btn p_sts_btn">OFFENSIVE</div>
  <div id="pl_deff" class="btn sts_btn p_sts_btn">DEFFENSIVE</div>
  <div id="pl_book" class="btn sts_btn p_sts_btn">BOOKING</div>
</div>
