<h2>Players</h2>
<div class="diff_stats_links">
  <ul>
    <li><%= link_to "Overview", players_stats_players_path, id: "p_over", remote: true %></li>
    <li><%= link_to "Offensive", players_stats_players_path, id: "p_offe", remote: true %></li>
    <li><%= link_to "Deffensive", players_stats_players_path, id: "p_deff", remote: true %></li>
    <li><%= link_to "Booking", players_stats_players_path, id: "p_book", remote: true %></li>
  </ul>
</div>
