<div id="full_table">
  <%= render partial: "player_links" %>

  <div id="change_player_stats">
    <%= render partial: "player_overwiev", locals: {players: @players, teams: @teams, matches: @matches} %>
  </div>

</div>

