// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* used not on specific part of the website */

/* used in main part */

#full_table {
    width: 100%;
}

#full_table th {
    text-align: center;
}

#full_table td {
    text-align: center;
}

#table_players {
    width: 50%;
    height: 100%;
    float: left;
    background: #F5F5F5;
    color: #212121;
}

#table_matches {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
    padding-bottom: 1em;
    color: #212121;
}

.diff_stats_links {

}

.diff_stats_links ul {
    list-style: none;
}

.diff_stats_links li {
    display: inline-block;
    border: 1px solid;
}

/* used under in main part */
