<title>Clean Stats</title>
<%= favicon_link_tag 'logo_.ico' %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<meta charset="utf-8">
<meta name="author" content="Piotr Augustyniak">
<meta name="description" content="Premier League Statistics. Fantasy Premier League">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
